<app-header title="Efetivação"></app-header>
<div class="alert alert-success m-0" role="alert">
    <p class="accessibility"> Parabéns sua contratação foi <strong>{{enumContratacao()}}</strong> com sucesso!</p>
    <hr *ngIf="hasContratacaoIsAceita()">
    <p class="mb-0 accessibility" *ngIf="hasContratacaoIsAceita()">Seu novo cartão chegará em até 10 dias úteis.</p>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">

            <div class="card accessibility">
                <div class="card-body">
                    <h6>nome</h6>
                    <p>
                        {{data.nome}}
                    </p>
                    <h6>limite de crédito contratado</h6>
                    <p>
                        {{ data.limite | currency: 'BRL' }}
                    </p>
                    <h6>limite de crédito contratado</h6>
                    <p>
                        {{enumAnuidade()}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mx-auto text-center">
            <button type="button" class="btn btn-warning btn-block accessibility" (click)="goToHome()">voltar</button>
        </div>
    </div>
</div>
