@import "~bootstrap/dist/css/bootstrap.min.css";

.btn-warning {
  background-color: #ec7000 !important;
  color: white;
}

h6 {
  font-weight: bold;
}

.alert-success {
  color: white;
  background-color: #4ca750;
  border-color: #4ca750;
}